@tailwind base; // https://tailwindcss.com/docs/guides/nextjs
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
  border-bottom: 2px solid black;
  margin-top: 3rem;
}

.sliders {
  .flex {
    // TODO: https://tailwindcss.com/docs/display#flex
    display: flex;
  }
  [type='range'] {
    // TODO: https://getbootstrap.com/docs/4.1/utilities/flex/#grow-and-shrink
    -ms-flex-positive: 1 !important;
    flex-grow: 1 !important;
  }
  .label {
    font-weight: bold;
    margin-top: 5px;
  }
}

.colorCell {
  display: inline-block;
  height: 150px;
  margin: 4px;
  padding: 0.5rem;
  width: 150px;
  cursor: pointer;

  &.fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.colorHistory {
  .historyColorCell {
    cursor: pointer;
  }

  max-height: 200px;
  overflow: auto;
}
